


.header {
    display: flex;
    background-color: #FBF7F5;
    padding: 8px;
    border-left: 2px solid rgb(22, 158, 158);
    border-right: 2px solid rgb(22, 158, 158);
    border-top: 2px solid rgb(22, 158, 158);
    border-radius: 10px 10px 0px 0px;
    justify-content: space-between;

    
    
}




.right {
        display: flex;
        align-items: center;
        gap: 2px;
        
    }

.logo {
    width: 10ch;
    
}


.social {
    height: 12px;
}

.follow {
    font-size: 12px;
    justify-content: center;
    color: rgb(22, 158, 158);
}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(22, 158, 158);
}

.presentation {
    display: flex;
    background-color: #FBF7F5;
    border-left: 2px solid rgb(22, 158, 158);
    border-right: 2px solid rgb(22, 158, 158);
    justify-content: space-between;
    padding: 30px;
    

}

.script {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    color: rgb(173, 161, 122);

}

.myself {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;

}

.introduction {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    justify-content: center;
    text-align: center;
    line-height: 5ch;
}

.colon {
    display: block;
    max-width: 40%;
    max-height: 30%;
    width: auto;
    height: auto;
    border: 3px solid rgb(22, 158, 158);
    border-radius: 30px;
    float: right;
}

.activities_top {
    display: flex;
    background-color: #FBF7F5;
    border-left: 2px solid rgb(22, 158, 158);
    border-right: 2px solid rgb(22, 158, 158);
    justify-content: space-evenly;
    padding: 30px;
}

.what_to_do {

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    color: rgb(22, 158, 158);
}

.activities {
    display: flex;
    background-color: #FBF7F5;
    border-left: 2px solid rgb(22, 158, 158);
    border-right: 2px solid rgb(22, 158, 158);
    justify-content: space-evenly;
    padding: 30px;
    color: rgb(173, 161, 122);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
    line-height: 3ch;
    
}

.item {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgb(22, 158, 158);
}

.footer {
    display: flex;
    background-color: rgb(22, 158, 158);
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 10px;
    border-radius: 0 0 10px 10px;
    color: #FBF7F5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.vector_logo {
    width: 8ch;

}

.copyright {
    font-size: 10px;
    text-align: center;
    line-height: 30px;
}

