.header {
    display: flex;
    background-color: #FBF7F5;
    padding-inline-end: 8px;
    border-bottom: 2px solid teal;
    justify-content: space-between;
    border-radius: 12px;
    
    
}




.right {
        display: flex;
        align-items: center;
        gap: 2px;
        
    }

.logo {
    width: 10ch;
    
}


.social {
    height: 12px;
}

.follow {
    font-size: 12px;
    justify-content: center;
    color: teal;
}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: teal;
}

.presentation {
    display: flex;
    padding: 30px;
    background-color: #FBF7F5;
    border: 2px solid teal;
    border-radius: 12px;
}